
@{
    ViewBag.Title = "Scratch Pad";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/posts.css" rel="stylesheet" />
<style type="text/css">

    img {
        height: 150px;
        width: 150px;
    }
    
    .post-comments {
        padding-bottom: 9px;
        margin: 5px 0 5px;
    }

    .comments-nav {
        border-bottom: 1px solid #eee;
        margin-bottom: 5px;
    }

    .post-comments .comment-meta {
        border-bottom: 1px solid #eee;
        margin-bottom: 5px;
    }

    .post-comments .media {
        border-left: 1px dotted #000;
        border-bottom: 1px dotted #000;
        margin-bottom: 5px;
        padding-left: 10px;
    }

    .post-comments .media-heading {
        font-size: 12px;
        color: grey;
    }

    .post-comments .comment-meta a {
        font-size: 12px;
        color: grey;
        font-weight: bolder;
        margin-right: 5px;
    }
</style>
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            @{Html.RenderAction("LoginHome", "Home", new { pagename = "Scratch Pad" });}
        </div>
        <div class="col-md-9">
            <div class="profile-content" id="MainContent" style="height: 70vh;overflow-x: scroll; overflow-y: scroll;">
                @*@Html.Action("CommentPartial")*@
                @*<p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            See All Comments
                        </a>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">

                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</div>

<script id="comment-template" type="text/x-handlebars-template">
    <li class="comment" data-id="{{commentId}}">
        <div class="media">
            <!-- first comment -->
            <div class="media-heading">
                <button class="btn btn-default btn-xs" type="button" data-toggle="collapse" data-target="#collapseOne-{{commentId}}"
                        aria-expanded="false" aria-controls="collapseExample">
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button><span class="label label-info">{{username}}</span> - <span class="pubdate">posted {{strCommentDate}}</span>
            </div>
            <div class="panel-collapse collapse in" id="collapseOne-{{commentId}}">
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="avatar">
                                <a href="javascript:void(0);">
                                    <img src="{{ImgUrl}}" style="height:30px;width:30px;border-radius:50%;" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div data-id="{{commentId}}" class="comment-body">
                                @*<header><a href="#" class="userlink">@comment.Username</a> - <span class="pubdate">posted @comment.CommentDate.ToString("dd-MM-yyyy HH:mm:ss")</span></header>*@
                                <p>
                                    {{commentText}}
                                </p>
                                <footer>
                                    <a class="reply-link" href="{{ImgUrl}}">Reply</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                    <!-- comment-meta -->

                </div>
            </div>
            <!-- comments -->
        </div>
    </li>
</script>

<script id="reply-template" type="text/template">
    <div style="padding-top:10px" class="row reply-form">
        <div class="row">
            <div class="col-md-1">
                <div class="avatar">
                    <img class="profile_image" src="/UploadedFiles/Images/profiles/User-blue-icon.png" style="height:30px;width:30px;border-radius:50%;" />
                </div>
            </div>
            <div class="col-md-9">
                <input type="text" cols="15" id="replyInput" class="form-control" placeholder="Add a reply.." />
            </div>
            <div class="col-md-1 text-left">
                <a class="addReplyBtn" href="#"><i class="fa fa-send fa_custom fa-2x"></i></a>
                <input type="hidden" name="hidParentId" id="hidParentId" class="hidParentId" />
            </div>
        </div>
    </div>
</script>

@section scripts{
    

    <script type="text/javascript">
        $(function () {
            getAllMessages();
            // Declare a proxy to reference the hub.
            var notificationHub = $.connection.notificationHub;
            notificationHub.client.updateMessages = function (message) {
                if (message && message.toLowerCase() == "added") {
                    getAllMessages();
                }
            }
        });


        function getAllMessages() {
            var tbl = $('#MainContent');
            $.ajax({
                url: '/ScratchPad/CommentPartial',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                success: function (result) {
                            tbl.empty().append(result);
                },
                error: function(e) {
                    alert(e.responseText);
                }
            });
        }
    </script>

    <script src="~/Scripts/handlebars-v4.0.12.js"></script>
    <script>

        function addNewComment(data) {
            return $.ajax({
                type: "POST",
                url: '@Url.Action("addNewComment", "ScratchPad")',
                data: data,
                dataType: 'json',
                contentType: 'application/json;charset=utf-8'
            });
        }



    $(function () {

        var source = document.getElementById("comment-template").innerHTML;
        var template = Handlebars.compile(source);


        $("#addNewCommentBtn").click(function (e) {
            e.preventDefault();
            var data = JSON.stringify({
                parentId: 0,
                commentText: $("#commentInput").val()
            });


            $.when(addNewComment(data)).then(function (response) {
                if (response.error == false) {
                    var $commentHtml = template(response.result);
                    $(".comments").append($commentHtml);
                    $("#commentInput").val('');
                } else {
                    console.log("An error has occured");
                }
            }).fail(function (err) {
                console.log(err);
            })
        });


        $(document).on("click", ".reply-link", function (e) {
            e.preventDefault();
            var $self = $(this);
            var $commentListItem = $self.parents(".comment-body");
            var replySource = document.getElementById("reply-template").innerHTML;
            $commentListItem.after(replySource);

            $(document).find(".hidParentId").val($self.attr("href"));

        });



        $(document).on("click", ".addReplyBtn", function (e) {
            e.preventDefault();
            var $self = $(this);
            var $replyInput = $(document).find("#replyInput");
            var parentId = $(document).find(".hidParentId").val();
            var $repliesUL = $(document).find("ul[data-parentid='" + parentId + "']");
            var $commentBody = $(document).find("li[data-id='" + parentId + "']");
            var replyULCount = $repliesUL.length;



            var data = JSON.stringify({
                parentId: parentId,
                commentText: $replyInput.val()
            });

            $.when(addNewComment(data)).then(function (response) {
                if (response.error == false) {
                    var commentHtml = template(response.result);

                    if (replyULCount > 0) {

                        $repliesUL.append(commentHtml);
                    } else {

                        $commentBody.append("<ul class='replies'></ul>")
                            .append(commentHtml);
                    }

                    $(document).find(".reply-form").remove();

                } else {
                    console.log("An error has occured");
                }
            }).fail(function (err) {
                console.log(err);
            })

        });



        });

        $(document).ready(function () {
            var imgsrc = $('.profile-userpic img').attr('src');
            $('.profile_image').attr('src', imgsrc);
        });
    </script>


}



<script>
    $('[data-toggle="collapse"]').on('click', function () {
        var $this = $(this),
            $parent = typeof $this.data('parent') !== 'undefined' ? $($this.data('parent')) : undefined;
        if ($parent === undefined) { /* Just toggle my  */
            $this.find('.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
            return true;
        }

        /* Open element will be close if parent !== undefined */
        var currentIcon = $this.find('.glyphicon');
        currentIcon.toggleClass('glyphicon-plus glyphicon-minus');
        $parent.find('.glyphicon').not(currentIcon).removeClass('glyphicon-minus').addClass('glyphicon-plus');

    });

</script>
