@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <img src="~/UploadedFiles/Images/IMG-20200429-WA0002.jpg" style="height:120px;width:120px" />
        </div>
        <div class="col-md-10">
            <h2>CrossSkill</h2>
            <p class="lead">
                Welcome to CrossSkill! A platform for online collaboration that is fun and reliable!
            </p>
        </div>
    </div>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <h2>Features</h2>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4">
            <p>
                Get in touch with people possessing different skills sets. Instant suggestions to match your interests!
            </p>
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-4">
            <p> Ask questions, post feedback and share your own content with secure file sharing options.</p>
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-4">
            <p> Organise team building activities by exploring easy to use features in exciting ways!</p>
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
        </div>
    </div>
</div>

